<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.centrummedyczne">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_custom"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_custom_round"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <activity android:name=".AppointmentConfirmActivity" />
        <activity android:name=".BookAppointmentActivity" />
        <activity android:name=".DoctorMessageActivity" />
        <activity android:name=".MoreDocSActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ResetPassword" />
        <activity android:name=".PlannedVisitsActivity" />
        <activity android:name=".DoctorsChatActivity" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RateVisitActivity" />
        <activity android:name=".SortFilterActivity" />
        <activity android:name=".DoctorActivity" />
        <activity android:name=".SearchResultActivity" />
        <activity android:name=".EditPatientActivity" />
        <activity android:name=".FavDocsActivity" />
        <activity android:name=".MyMedsActivity" />
        <activity android:name=".PrescriptionsActivity" />
        <activity android:name=".PatientAccountActivity" />
        <activity android:name=".AppointmentHistoryActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".StartActivity" />
    </application>

</manifest>